{
    "quoteProps": "as-needed",
    "$schema": "https://json.schemastore.org/prettierrc",
    "tabWidth": 4,
    "bracketSameLine": true,
    "printWidth": 120,
    "useTabs": false,
    "singleQuote": false,
    "semi": false,
    "trailingComma": "all",
    "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
    "organizeImportsSkipDestructiveCodeActions": true
}
